description "riemann"

exec 2>&1

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 10 5

console log

setuid {{ansible_ssh_user}}
setgid {{ansible_ssh_user}}

script
  cd {{ riemann_home_dir }}
  exec ./bin/riemann ./etc/riemann.config {{ riemann_java_options }}
end script

post-start script
    PID=`status riemann | egrep -oi '([0-9]+)$' | head -n1`
    echo $PID > {{riemann_home_dir}}/riemann.pid
end script

post-stop script
    rm -f {{riemann_home_dir}}/riemann.pid
end script
